@media screen and (min-width: 768px) {
    .header__section--paragraph {
        font-size: 20px;
        font-weight: 500
    }

    .main__section--paragraph {
        font-size: 20px;
        text-align: center;
    }

    .main__table_coins,
    .main__table__commission {
        font-size: 16px;
        border-spacing: 8px;
        width: 100%;
        padding: 0;
        margin: 0 auto;
    }

    .main__table__coins--title,
    .main__table__commission--title {
        font-size: 24px;
    }

    .last__actualization__coin,
    .last__actualization__commission {
        width: 75%;
        font-size: 16px;
    }

    .card--title {
        font-size: 20px;
    }

    .card--paragraph {
        font-size: 18px;
    }

    .hero__img__section--title { 
        font-size: 40px;
    }

    .main__plans--title {
        font-size: 30px;
    }

    .main__plans--paragraph {
        font-size: 18px;
        padding: 12px 0 24px 0;
    }

    .main__plan__cards__container {
        gap: 8px;
    }

    .main__plans--card {
        margin: 0 auto;
    }

    .card__plan--paragraph {
        text-align: center;
    }

    .footer__rrss__container {
        font-size: 18px;
        font-weight: bold;
    }

    .footer__img__container img {
        width: 50%;
        height: auto;
    }
}